<div>
    <button class="button-flashing" id="app-sidebar-btn" onclick="window.location.href=''">
        <div class="icon-panel">
            <div class="icon" id="profile-icon"></div>
        </div>
        <div class="btn-label">My Profile</div>
    </button>
</div>
<div>
    <button class="button-flashing" id="app-sidebar-btn" onclick="window.location.href=''">
        <div class="icon-panel">
            <div class="icon" id="departments-icon"></div>
        </div>
        <div class="btn-label" style="font-size:12px">My Department</div>
    </button>
</div>
<div>
    <button class="button-flashing" id="app-sidebar-btn" onclick="window.location.href=''">
        <div class="icon-panel">
            <div class="icon" id="records-icon"></div>
        </div>
        <div class="btn-label">My Record</div>
    </button>
</div>
<div>
    <button class="button-flashing" id="app-sidebar-btn" onclick="window.location.href=''">
        <div class="icon-panel">
            <div class="icon" id="notif-icon"></div>
        </div>
        <div class="btn-label">Notifications</div>
    </button>
</div>