<div>
    <button class="button-flashing" id="app-sidebar-btn" onclick="window.location.href=''">
        <div class="icon-panel">
            <div class="icon" id="profile-icon"></div>
        </div>
        <div class="btn-label">My Profile</div>
    </button>
</div>
<div>
    <button class="button-flashing" id="app-sidebar-btn" onclick="dropdown()">
        <div class="icon-panel">
            <div class="icon" id="records-icon"></div>
        </div>
        <div class="btn-label">My Record</div>
    </button>
    <ul id="dropdown" isClosed>
        <li><a href="/uclm_scholarship/records/my_dtr">Daily Time Records</a></li>
        <li><a href="/uclm_scholarship/records/my_summary">Summary Report</a></li>
        <li><a href="/uclm_scholarship/records/my_overtime">WS Overtime</a></li>
    </ul>
</div>
<div>
    <button class="button-flashing" id="app-sidebar-btn" onclick="window.location.href=''">
        <div class="icon-panel">
            <div class="icon" id="notif-icon"></div>
        </div>
        <div class="btn-label">Notifications</div>
    </button>
</div>

<script src="/uclm_scholarship/public/scripts/misc/sidebar-functions.js"></script>