<head>
    <link rel="stylesheet" href="/uclm_scholarship/public/styles/style.css">
</head>

<div 
style="width:100%;height:300px;background-image: url('/uclm_scholarship/public/sources/isko.png');background-repeat: no-repeat;background-size: contain;background-position: center;"
>
</div>
<center>
    <h1 class="label" id="label-deptname"
        style="font-size:40px;font-weight: bold;height: 40px;">
        UCLM SCHOLARSHIP OFFICE</h1>
    <h2 style="color: rgb(0,64,184);">Official Working Scholars' Monitoring System</h2>
<br>
    <div>
        Have an account? <a style="text-decoration: none;color: rgb(255,115,0)" href="login">Login</a>
    </div>   
    <div>
        <a style="text-decoration: none;color: rgb(0,64,184)" href="register">Register</a> as a guest user
    </div>
</center>
</div>